<tabs>
  <tabs-pane title="Team Progress" state="readiness.findings.team-progress">
    <div class="" ui-view="team-progress">
    </div>
  </tabs-pane>
  <tabs-pane title="Team Gap" state="readiness.findings.team-gap">
    <div class="" ui-view="team-gap">
    </div>
  </tabs-pane>
  <tabs-pane title="Team Rationale" state="readiness.findings.team-rationale">
    <div class="" ui-view="team-rationale">
    </div>
  </tabs-pane>
  <tabs-pane title="Team Actions" state="readiness.findings.team-actions">
    <div class="" ui-view="team-actions">
    </div>
  </tabs-pane>
</tabs>

<timeline></timeline>
