@import "common/common";

app {
  height: 100%;
  display: block;
  background-color: white;

  .snap-drawer {
    background-color: white;
  }

  .snap-content {
    box-shadow: 0px 0px 20px #888888;
    background-color: $body-bg-color;
  }

  .content-header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;

    height: $header-height;
    padding: 10px;

    background-color: $header-bg-color;
    padding: 10px;
    border-bottom: 1px solid #a9abab;
    color: $compas-red;

    animated-dropdown {
      bottom: -11px;

      .sub-menu-parent {
        padding-left: 10px;
        padding-right: 10px;
        .logo {
          transform: translateY(-11px);
        }
      }
      .sub-menu {
        top: 35px;
        border-left: 1px solid #a9abab;
        border-bottom: 1px solid #a9abab;
        border-right: 1px solid #a9abab;
        z-index: -1;
      }
    }
  }

  .content-body {
    padding-top: 56px;
  }
}
